$primary:#7abb77;
$third: #9FD3C9;
$photo-border:#000000;
$font-weights: (
    "regular": 400,
    "medium":500,
    "bold":700
);

//main page
.menu-nav {
    list-style-type: none;
    padding: 0;
    color: white;
    
}
.menu{
    position: relative;
    background-color: $primary;
    min-height: 3em;
    display: flex;
    justify-content: flex-end;
    background: rgb(30,45,30);
    background: linear-gradient(0deg, rgba(30,45,30,1) 0%, rgba(136,211,132,1) 100%);
    
}
body{
    background: rgb(3,59,68);
    background: linear-gradient(180deg, rgba(3,59,68,1) 0%, rgba(159,211,201,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;   
    
}
.logo{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    animation: fade-up 1s;
}
.logo-design{
    max-width: 350px;
   
}
.heading{
    text-align: center;
    padding-top: 2em;font-family: Arial, Helvetica, sans-serif;
    
}
.hi{
    font-size: x-large;
    font-weight: map-get($font-weights, medium );
    
}

.name{
    
    font-size: 5em;
    font-weight: map-get($font-weights, bold );
    text-underline-position: under;
    text-decoration: underline;
    text-shadow: 5px 5px #0303032f;
    animation: fade-up 1s;
}

.dev{
    padding-top: 1em;
    font-size: large;
    font-weight: map-get($font-weights, medium );
}






// about me page below



.about-me-text {
    text-align: center;
    max-width: 50%;
    margin: 4em auto ;
    padding: 3em;
    font-size: large;
    font-weight:map-get($font-weights, medium);
    border-radius: 25px 25px;
    border: groove 15px #75baba4d;
    background-color: #669e9d2c;
    animation: fade-up 1s;

}

   .grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
    gap: 3rem;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    animation: fade-up 1s;
   
}

.photo-1, .photo-2, .photo-3 {
    animation-timing-function: ease-in 5s;
    max-width: 400px;
    border: 10px solid $photo-border;
    box-shadow: 10px 5px 15px 5px rgba(0,0,0,.6);
    
}
.photo-4{
    max-width: 453px;
    border: 10px solid $photo-border;
    box-shadow: 10px 5px 15px 5px rgba(0,0,0,.6);
    
}


// keyframes

@keyframes fade-up{
    0%{
        opacity: 0;
        transform:  scale(0.9);
    }
    100% {
        opacity: 1;
        transform:  scale(1);
    }
}